<button
  type="{{ vm.buttonType }}"
  class="{{ vm.classes.base }}"
  ng-disabled="vm.isDisabled"
  ng-attr-aria-busy="{{ vm.ariaBusy }}"
  ng-click="vm.handleClick($event)"
>
  <i
    ng-if="vm.showLeading"
    class="{{ vm.leadingIconName }} {{ vm.classes.leadingIcon }}"
    aria-hidden="true"
  ></i>
  <span ng-if="vm.hasLabel" class="{{ vm.classes.label }}">{{ vm.label }}</span>
  <span ng-transclude></span>
  <i
    ng-if="vm.showTrailing"
    class="{{ vm.trailingIconName }} {{ vm.classes.trailingIcon }}"
    aria-hidden="true"
  ></i>
</button>
